body {
    background-color: #f8f9fa;
    font-family: 'Inter', sans-serif;
  }

  p {
    text-align: justify;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .logo {
    max-width: 150px;
    display: block;
    margin: auto;
  }